@model RestaurantViewModel

<h2>Details</h2>

<div>
	<h1>Restaurant</h1>
	<br />
	<dl>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(Model => Model.RestaurantId)
		</dt>
		<dd class="col-sm-10">
			<h3>@Html.DisplayFor(Model => Model.RestaurantId)</h3>
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(Model => Model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(Model => Model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(Model => Model.Email)
		</dt>
		<dd class="col-sm-10">
			<a href="mailto:@Html.DisplayFor(Model=>Model.Email)">@Html.DisplayFor(Model => Model.Email)</a>
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(Model => Model.PhoneNumber)
		</dt>
		<dd class="col-sm-10">
			<a href="tel:@Html.DisplayFor(Model=>Model.PhoneNumber)">@Html.DisplayFor(Model => Model.PhoneNumber)</a>
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(Model => Model.AddressSummary)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(Model => Model.AddressSummary)
		</dd>

		@if (Model != null && Model.DocsTags != null)
		{
			foreach (var image in Model.DocsTags)
			{
				<div>
					@Html.Raw(image)
				</div>
			}
		}

	</dl>
</div>