@model RestaurantListViewModel

<h1>Restaurant-Liste</h1>
<div class="form-container">
	<h1>Restaurant eingeben / bearbeiten</h1>

	<form asp-action="List" method="get">
		<div class="form-group">
			<label asp-for="RestaurantSearchCriteriaViewModel.WordsAndPhrases"></label>
			<input asp-for="RestaurantSearchCriteriaViewModel.WordsAndPhrases" type="text" class="form-control" />
			<span asp-validation-for="RestaurantSearchCriteriaViewModel.WordsAndPhrases" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Suchen</button>
	</form>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Adresse</th>
			<th>Email</th>
			<th>Telefon</th>
			@* <th>Aktiv</th> *@
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.RestaurantsList)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.AddressSummary</td>
				<td>@item.Email</td>
				<td>@item.PhoneNumber</td>
				@* 				<td><input type="checkbox" style="pointer-events:none" asp-for="@item.Activ" /></td> *@
				<td>
					<a asp-action="Edit" asp-route-id="@item.RestaurantId">Bearbeiten</a> |
					<a asp-action="Details" asp-route-id="@item.RestaurantId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.RestaurantId" onclick="if (!confirm('Are you sure you want to delete?')) { return false; }" asp-controller="Restaurant" asp-action="Delete">Löschen</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<div>
	<br />
	<a asp-action="Register" asp-controller="Restaurant">Neues Restaurant erfassen</a>
</div>